* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #f4f8ff;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

header {
    background: #0d47a1;
    padding: 20px 0;
    color: white;
}

header h1 {
    font-size: 28px;
}

header h1 span {
    color: #ffcc00;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 600;
}

nav a:hover {
    color: #ffcc00;
}

.hero {
    background: linear-gradient(rgba(13,71,161,0.8), rgba(13,71,161,0.8)),
                url('https://images.unsplash.com/photo-1581578731548-c64695cc6952');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 120px 0;
    text-align: center;
}

.hero h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    background: #ffcc00;
    color: #0d47a1;
    padding: 25px 30px;
    text-decoration: none;
    font-weight: 700;
    border-radius: 30px;
    transition: 0.3s;
    
}

.btn:hover {
    background: white;
}

.servicos {
    padding: 80px 0;
    background: white;
    text-align: center;
}

.servicos h2 {
    font-size: 32px;
    margin-bottom: 50px;
    color: #0d47a1;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.card {
    background: #e3f2fd;
    padding: 30px;
    border-radius: 15px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    background: #bbdefb;
}

.card h3 {
    color: #0d47a1;
    margin-bottom: 15px;
}

.cta {
    background: #0d47a1;
    color: white;
    padding: 80px 0;
    text-align: center;
}

.cta h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.contato {
    padding: 60px 0;
    text-align: center;
}

footer {
    background: #002171;
    color: white;
    text-align: center;
    padding: 20px 0;
}
